$primary: #04C2C9;
$primary-dark: #00A1A7;
$primary-darker: #036367;
$primary-darkest: #1B242F;
$secondary: #E21985;
$secondary-dark: #C51675;

@mixin pos($pos: absolute, $top: null, $left: null, $bottom: null, $right: null) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: $pos;
}

@font-face {
   font-family: 'Raleway';
   src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
   font-family: 'Raleway-semibold';
   src: url('../fonts/Raleway-SemiBold.ttf');
}

@font-face {
   font-family: 'Raleway-bold';
   src: url('../fonts/Raleway-Bold.ttf');
}

@keyframes slideIn {
  0% { transform: translateY(-100px) }
}


body {
  color: #fff;
  font-family: 'Raleway';
  text-align: center;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 3px;
  font-size: 16pt;
  transition: all .5s;
  cursor: pointer;
  &:hover {
    background-color: $primary;
    border-color: $primary;
  }
}

.bold {
  font-family: 'Raleway-bold';
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.row {
    flex-direction: row;
  }
}

.flex-66 {
  -webkit-flex: 1 1 66%;
  -ms-flex: 1 1 66%;
  flex: 1 1 66%;
  max-width: 66%;
  max-height: 100%;
  box-sizing: border-box;
}

.hexagon {
  background: url('../img/hexagon.png') center center/contain no-repeat;
  height: 95px; width: 95px;
  font-size: 32pt;
  &.h2 {
    background: url('../img/hex2.png') center center/contain no-repeat;
  }
}

.highlight {
  color: $secondary;
}

.header {
  margin: 0 0 80px 0;
  font-family: 'raleway-bold';
  font-size: 30pt;
  position: relative;
  color: #444649;
  &:before {
    content: '';
    width: 70px;
    height: 4px;
    background: #444649;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -25px;
  }
}

.label {
  font-size: 18pt;
  font-weight: 500;
}

// NAV
nav {
  @include pos($left: 0, $bottom: 0);
  height: 50px;
  width: 100%;
  background: #1b242f;
  border-bottom: 3px solid $primary;
  text-align: left;
  z-index: 99;

  &.fixed {
    @include pos($pos: fixed, $top: 0, $left: 0);
    animation: slideIn .5s;
  }



  .wrap {
    max-width: 1170px;
    width: 100%;
  }

  span {
    margin: 0 20px;
    cursor: pointer;
    transition: color .5s;
    text-transform: uppercase;
    &:hover {
      color: $secondary;
    }
  }

  .active {
    color: $secondary;
  }
}

// MODAL
.modal-wrap {
  height: 100vh; width: 100vw;
  position: fixed;
  pointer-events: none;
  z-index: 100;

  .mask {
    height: 100%; width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.45);
    opacity: 0;
    transition: opacity .3s;
  }

  .modal {
    max-width: 90%;
    background: #37404A;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    position: relative;
    transition: all .3s;
    transform: scale(0.8);
    opacity: 0;
    align-items: flex-start;
    text-align: left;
    padding: 70px 50px 100px 50px;
    box-sizing: border-box;
  }

  .close {
    top: -5px;
    right: 15px;
    color: #ccc;
    padding: 15px 10px 10px 10px;
    background: #222;
    font-size: 30pt;
    position: absolute;
    font-weight: 800;
    cursor: pointer;
  }

  .info-box {
    padding: 15px 0 15px 50px;
  }

  .header {
    font-size:24pt;
    color: #81FFFF;
    a {
      color: #50D1F7;
    }
  }

  .detail {
    display: block;
    font-weight: 300;
    color: #eee;
    font-style: italic;
  }

  ul {
    margin-top: 15px;
    li {
      font-weight: 300;
      color: #eee;
    }
  }

  .carousel {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    padding: 0 1px;
    visibility: none;
  }

  &.visible {
    pointer-events: initial;
    .modal {
      transform: scale(1);
      opacity: 1;
    }
    .mask {
      opacity: 1;
    }
  }
}

section {
  padding: 130px 0;
  color: #616161;
  line-height: 18pt;
  position: relative;

  > div {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
  }

  //INTRO 
  &:nth-of-type(1) {
    padding: 0;
    color: #fff;
    height: calc(100vh + 53px);
    background: url('../img/filler.png') center center/cover no-repeat;

    .highlight {
      font-family: 'Raleway-semibold';
    }

    .text {
      margin: 20px 0;
      font-size: 32pt;
      line-height: 36pt;
    }

    .hexagon {
      transition: transform .9s ease-in-out;
      &:hover {
        transform: rotate(540deg);
      }
    }
  }

  //ABOUT
  &:nth-of-type(2) {
    
    .label-wrap {
      > div {
        padding: 0 15px;
      }

      .label {
        margin: 20px 0 10px 0;
      }
    }

    .up-arrow {
      margin: 15px 0;
      height: 30px;
    }

    .skills-wrapper {
      padding: 70px 15px;
      align-items: flex-start;
      width: 100%;

      > .flex:first-child {
        padding: 0 50px 0 50px;
      }

      .me {
        height: 285px;
        margin: 0 0 20px 0;
      }

      .label {
        margin: 20px 0 15px 0;
      }
    }

    .bars-wrapper {
      margin: 50px 0 0 0;
      width: 90%;
    }

    .bar {
      color: #666;
      height: 35px;
      border-radius: 4px;
      width: 100%;
      position: relative;
      background-color: #eee;
      margin: 0 0 15px 0;
      align-items: flex-end;
      max-width: 90%;

      &.fill {
        @include pos($top: 0, $left: 0);
        background-color: $primary-dark;
        padding: 0;
      }

      .tag {
        @include pos($top: 0, $left: 0);
        background-color: $primary;
        color: #fff;
        height: 100%;
        width: 110px;
        border-radius: 4px;
      }

      &.secondary {
        background-color: $secondary-dark;
        .tag {
          background-color: $secondary;
        }
      }

      span {
        z-index: 1;
        padding: 0 15px 0 0;
      }
    }
  }

  //PORTFOLIO
  &:nth-of-type(3) {
    background: $primary;

    .filter {
      font-size: 13pt;
      font-weight: 600;
      margin: 0 25px;
      width: 160px;
      padding: 7px;
      color: #fff;
      cursor: pointer;
      transition: background-color .5s;

      &.active {
        background: #fff;
        color: $primary;
      }
    }

    .header {
      color: #fff;
      margin-bottom: 100px;
      &:before {
        background-color: #FFF;
      }
    }


    .text { 
      @include pos($top: 0, $left: 0);
      width: 100%;
    }

    #gallery {
      margin: 20px 0;

      .text, .button {
        z-index: 2;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        color: $primary-darkest;

        .bold {
          font-size: 16pt;
        }
      }

      .button { 
        @include pos($bottom: 0, $left: 0, $right: 0);
        border: 2px solid #e21985;
        border-radius: 2px;
        width: 170px;
        margin: 0 auto;
        font-size: 13pt;
        padding: 7px 0;
      }

      .mix {
        display: none;
        position: relative;
        background: #fff;
        margin: 5px;


        .button {
          &:hover {
            background: $secondary;
            color: #fff;
          }
        }
        
        @for $i from 1 through 12 {
          &:nth-child(#{$i}) {
            .card {
              background: url('../img/slides/thumb-#{$i}.jpg') center center/cover;
            }
          }
        }

        .card {
          height: 275px;
          width: 350px;
          cursor: pointer;
          transition: opacity .5s;
        }

        &:hover {
          .card { opacity: 0 }

          .text {
            opacity: 1;
            top: 24%;
          }

          .button {
            opacity: 1;
            bottom: 24%;
          }
        }


      }


    }
  }
  .flex-50-gt-sm { display: block;}


  //BLOG
  &:nth-of-type(4) {
    height: 900px;
  }
}

@media screen and (min-width: 960px) {

  .flex.row-gt-sm {
    flex-direction: row;
  }

  .flex-50-gt-sm {
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-width: 50%;
    max-height: 100%;
    box-sizing: border-box;
  }

  // ABOUT
  section {
    &:nth-of-type(2) {
      .bars-wrapper {
        margin: 0 0 0 0;
      }
    } 
  }
}
