$primary: #04C2C9;
$primary-dark: #00A1A7;
$primary-darker: #036367;
$primary-darkest: #1B242F;
$secondary: #E21985;
$secondary-dark: #C51675;

@mixin pos($pos: absolute, $top: null, $left: null, $bottom: null, $right: null) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: $pos;
}

@font-face {
   font-family: 'Raleway';
   src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
   font-family: 'Raleway-semibold';
   src: url('../fonts/Raleway-SemiBold.ttf');
}

@font-face {
   font-family: 'Raleway-bold';
   src: url('../fonts/Raleway-Bold.ttf');
}

@keyframes slideIn {
  0% { transform: translateY(-100px) }
}

@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}


body {
  color: #fff;
  font-family: 'Raleway';
  text-align: center;
  margin: 0px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 0;
  z-index: -1;
  background: #252934;
}

.button {
  padding: 10px 20px;
  border: 2px solid #fff;
  box-sizing: inherit;
  display: inline-block;
  font-size: 16pt;
  transition: all .5s;
  cursor: pointer;
  &:hover {
    background-color: $primary;
    border-color: $primary;
  }

  .mdi {
    vertical-align: middle;
  }
}

.bold {
  font-family: 'Raleway-bold';
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.row {
    flex-direction: row;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.flex-25 {
  -webkit-flex: 1 1 25%;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  max-width: 25%;
  max-height: 100%;
  box-sizing: border-box;
}

// .hexagon {
//   background: url('../img/hexagon.png') center center/contain no-repeat;
//   height: 95px; width: 95px;
//   font-size: 32pt;
//   &.h2 {
//     background: url('../img/hex2.png') center center/contain no-repeat;
//   }
// }

.hexagon {
  position: relative;
  height: 95px; 
  width: 54.85px;
  background-color: $primary;
  left: 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-top: 47.5px solid transparent;
  border-bottom: 47.5px solid transparent;
}

.hexagon:before {
  right: 100%;
  border-right: 27.42px solid $primary;
}

.hexagon:after {
  left: 100%;
  width: 0;
  border-left: 27.42px solid $primary;
}

.highlight {
  color: $secondary;
}

.header {
  margin: 0 0 100px 0;
  font-family: 'raleway-bold';
  font-size: 30pt;
  position: relative;
  color: #444649;
  &:before {
    content: '';
    width: 70px;
    height: 4px;
    background: #444649;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -25px;
  }
}

.label {
  font-size: 18pt;
  font-weight: 500;
}

// NAV
nav {
  @include pos($left: 0, $bottom: 0);
  height: 50px;
  width: 100%;
  background: #1b242f;
  border-bottom: 3px solid $primary;
  text-align: left;
  z-index: 99;

  &.fixed {
    @include pos($pos: fixed, $top: 0, $left: 0);
    animation: slideIn .5s;
  }

  .wrap {
    max-width: 1200px;
    width: 100%;
  }

  span {
    margin: 0 20px;
    cursor: pointer;
    transition: color .5s;
    text-transform: uppercase;
    &:hover {
      color: $secondary;
    }
  }

  .active {
    color: $secondary;
  }
}

.carousel-wrap {
  position: relative;
  width: 700px;
  height: 450px;
  margin: 0 auto;
  // box-shadow:7px 7px 5px 0px rgba(0, 0, 0, 0.25);
}

.window {
  overflow: hidden;
  position: relative;
  background: #222;
}

#carousel {
  width: 10000px;
  position: relative;
  top: 0; left: -700px;
}

.slide {
  height: 450px;
  width: 700px;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.mdi-chevron-left, .mdi-chevron-right {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  font-size: 14pt;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 25pt !important;
  font-weight: bold;
  color: #fff;
}

.mdi-chevron-left { left: 0 }
.mdi-chevron-right { right: 0 }

.transition {
  transition: .7s;
}

// MODAL
.modal-wrap {
  height: 100vh; width: 100vw;
  position: fixed;
  pointer-events: none;
  z-index: 100;

  .mask {
    height: 100%; width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity .3s;
  }

  .modal {
    max-width: 700px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: relative;
    transition: all .3s;
    transform: scale(0.8);
    opacity: 0;
    align-items: flex-start;
    text-align: left;
    top: -6vh;
    box-sizing: border-box;
    color: #333;
  }

  .close {
    bottom: 25px;
    right: 25px;
    color: #bbb;
    font-size: 20pt;
    position: absolute;
    font-weight: 800;
    cursor: pointer;
  }

  .info-box {
    border-top: 3px solid #1B242F;
    padding: 35px 60px 20px 25px;
    box-sizing: border-box;
    color: #444;
  }

  .title {
    font-size: 22pt;
    line-height: 30pt;
    font-family: 'Raleway-bold';
  }

  .tag {
    display: block;
    font-weight: 300;
    color: #c0c0c0;
    font-family: 'Raleway-bold';
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 15px;
    font-size: 11pt;
  }

  .detail {
    font-size: 11pt;
    line-height: 18pt;
    margin-top: 15px;
  }

  .mdi-open-in-new {
    position: relative;
    left: -10px;
    font-size: 11pt;
  }

  .button {
    padding: 11px 30px;
    font-size: 10pt;
    transition: all .5s;
    cursor: pointer;
    margin-top: 35px;
    background: $secondary;
    color: #fff;
    font-weight: 600;
    border: 0;

    &:hover {
      color: $secondary;
      background: #fff;
    }
  }

  .carousel {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  }

  &.visible {
    pointer-events: initial;
    .modal {
      transform: scale(1);
      opacity: 1;
    }
    .mask {
      opacity: 1;
    }
  }
}

section {
  padding: 100px 0 130px 0;
  color: #616161;
  line-height: 18pt;
  position: relative;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  //HOME 
  &:nth-of-type(1) {
    padding: 0;
    color: #fff;
    height: calc(100vh + 53px);
    // background: url('../img/filler.png') center center/cover no-repeat;

    .highlight {
      font-family: 'Raleway-semibold';
    }

    .text {
      margin: 20px 0;
      font-size: 32pt;
      line-height: 36pt;
    }

    .hexagon {
      transition: transform .9s ease-in-out;
      &:hover {
        transform: rotate(540deg);
      }
    }

    .button {
      padding: 10px 50px 10px 20px;
      position: relative;
      
      .mdi {
        transition: transform .3s;
        position: absolute;
        right: 15px;
        top: 12px;
      }
      &:hover {
        .mdi {
          transform: rotate(90deg)
        }
      }

    }
  }

  //ABOUT
  &:nth-of-type(2) {
    
    .label-wrap {
      > div {
        padding: 0 15px;
      }

      .label {
        margin: 20px 0 10px 0;
      }
    }

    .hex-wrap {
      padding: 0 10px;
    }

    .highlight {
      color: #009ADA;
    }

    .up-arrow {
      margin: 15px 0;
      height: 30px;
    }

    .skills-wrapper {
      padding: 70px 15px;
      align-items: flex-start;
      width: 100%;

      > .flex:first-child {
        padding: 0 50px 0 50px;
      }

      .me {
        height: 285px;
        margin: 0 0 20px 0;
      }

      .label {
        margin: 20px 0 15px 0;
      }
    }

    .bars-wrapper {
      margin: 50px 0 0 0;
      width: 90%;
    }

    .hexagon i {
      position: absolute;
      top: 20px;
      font-size: 40pt;
      color: #fff;
      left: 0;
    }

    .bar {
      color: #666;
      height: 33px;
      width: 100%;
      position: relative;
      background-color: #eee;
      margin: 0 0 15px 0;
      align-items: flex-end;
      max-width: 90%;

      &.fill {
        @include pos($top: 0, $left: 0);
        background-color: $primary-dark;
        padding: 0;
      }

      .tag {
        @include pos($top: 0, $left: 0);
        background-color: $primary;
        color: #fff;
        height: 100%;
        width: 110px;
        
      }

      &.secondary {
        background-color: $secondary-dark;
        .tag {
          background-color: $secondary;
        }
      }

      span {
        z-index: 1;
        padding: 0 15px 0 0;
      }
    }
  }

  //PORTFOLIO
  &:nth-of-type(3) {
    background: $primary;

    .filter {
      font-size: 13pt;
      font-weight: 600;
      margin: 0 25px;
      width: 160px;
      padding: 7px;
      color: #fff;
      cursor: pointer;
      transition: background-color .5s;

      &.active {
        background: #fff;
        color: $primary;
      }
    }

    .header {
      color: #fff;
      &:before {
        background-color: #FFF;
      }
    }


    .text { 
      @include pos($top: 0, $left: 0);
      width: 100%;
    }

    #gallery {
      margin: 20px 0;

      .text, .button {
        z-index: 2;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        color: $primary-darkest;

        .bold {
          font-size: 16pt;
        }
      }

      .button { 
        @include pos($bottom: 0, $left: 0, $right: 0);
        border: 2px solid #e21985;
        
        width: 170px;
        margin: 0 auto;
        font-size: 13pt;
        padding: 7px 0;
      }

      .mix {
        display: none;
        position: relative;
        background: #fff;

        .button {
          &:hover {
            background: $secondary;
            color: #fff;
          }
        }
        
        @for $i from 1 through 12 {
          &:nth-child(#{$i}) {
            .card {
              background: url('../img/thumb-#{$i}.jpg') center center/cover;
            }
          }
        }

        .card {
          height: 300px;
          width: 390px;
          cursor: pointer;
          transition: opacity .5s;
          // box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
        }

        &:hover {
          .card { opacity: 0 }

          .text {
            opacity: 1;
            top: 24%;
          }

          .button {
            opacity: 1;
            bottom: 24%;
          }
        }


      }


    }
  }
  .flex-50-gt-sm { display: block;}


  //BLOG
  &:nth-of-type(4) {
    text-align: left;

    .flex {
      align-items: flex-start;
    }

    .header {
      text-align: center;
    }

    .gradient {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    .flex-25 {
      margin-right: 20px;
      padding: 0 2px;

      &:nth-child(1) {
        .thumb { background: url('http://3.bp.blogspot.com/-rWVR2ymwh_4/VHHxo46NndI/AAAAAAAACdk/8MSEMm8HVCk/s800/pcsmash.jpg') center center/cover }
      }
      &:nth-child(2) {
        .thumb { background: url('https://labnotebook.s3.amazonaws.com/2015/Mar/coffee_brain-1426812860957.jpg') center center/cover }
      }
      &:nth-child(3) {
        .thumb { background: url('https://labnotebook.s3.amazonaws.com/2015/Mar/handlebars-1425510519141.png') center center/cover }
      }
      &:nth-child(4) {
        margin-right: 0;

        .thumb { background: url('https://labnotebook.s3.amazonaws.com/2015/Feb/toolbelt-1424889682039.png') center center/cover }
      }
    }

    .label {
      line-height: 22pt;
    }

    .thumb {
      height: 200px;
      margin: 0 0 15px 0;
    }

    .date {
      font-size: 8.5pt;
      font-family: 'Open sans';
      margin: 5px 0 0 0;
    }

    .bar {
      height: 3px;
      width: 25%;
      background: #04C2C9;
      margin: 15px 0px;
    }

    .text {
      font-size: 11pt;
      line-height: 15pt;
    }
  }

  //CONTACT
  &:nth-of-type(5) {
    background: #252934;
    color: #fff;

    .header {
      color: #fff;
      margin: 0 0 40px 0;
      &:before {
        background: #fff;
        width: 110px;
      }
    }
    .highlight {
      font-weight: 600;
      color: $primary;
    }

    form {
      margin-top: 40px;
      margin-bottom: 4px;
      width: 90%;
      max-width: 500px;
    }

    input, textarea {
      display: block;
      width: 100%;
      
      outline: none;
      border: 0;
      padding: 10px 15px;
      background: #1E242C;
      font-size: 12pt;
      margin-bottom: 3px;
    }

    textarea {
      min-height: 150px;
    }

    .button {
      float: right;
      margin: 10px -18px;
      font-size: 12pt;
      padding: 5px 30px;
    }
  }
}

footer {
  background: $primary-darkest;
  padding: 70px 0 50px 0;
  position: relative;

  .mdi-chevron-double-up {
    position: absolute;
    top: -25px;
    background: #e21985;
    font-size: 30pt;
    width: 47px;
    height: 50px;
    line-height: 40pt;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .icon-wrap {
    .icon {
      overflow: hidden;
      transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
      cursor: pointer;
      width: 55px;
      height: 55px;
      position: relative;
      text-align: center;
      margin: 0 15px;
      background: #262F38;
      font-size: 18pt;

    }

    .mdi {
      text-align: center;
      color: #fff;

      &.mdi-codepen {
        font-size: 20pt;
      }
    }

    .icon:hover {
      background: $primary;
      box-shadow: 0 0 0 3px rgba(4,94,201,0.1);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9); /* Safari */
      transform: scale(0.9);

      .mdi {
        color: #fff;
      }
    }

    .icon:hover .mdi {
      -webkit-animation: toBottomFromTop 0.3s forwards;
      -moz-animation: toBottomFromTop 0.3s forwards;
      animation: toBottomFromTop 0.3s forwards;
    }
  }

  .footnote {
    font-size: 10pt;
    color: #8F9AA7;
    margin-top: 35px;
    opacity: 0.6;
    
    .highlight {
      font-family: 'Open Sans';
      color: $secondary;
    }
  }
}

@media screen and (min-width: 960px) {

  .flex.row-gt-sm {
    flex-direction: row;
  }

  .flex-50-gt-sm {
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-width: 50%;
    max-height: 100%;
    box-sizing: border-box;
  }

  // ABOUT
  section {
    &:nth-of-type(2) {
      .bars-wrapper {
        margin: 0 0 0 0;
      }
    } 
  }
}
